<div class="container">
    <div class="item">
        <h5>Características</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Visor Geocodificador</a></li>
            <li><a class="text-muted" href="#">Guía de usuario</a></li>
        </ul>
    </div>
    <div class="item">
        <h5>Recursos</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://angular.io/">Angular</a></li>
            <li><a class="text-muted" href="https://leafletjs.com/">Leaflet</a></li>
            <li><a class="text-muted" href="https://www.primefaces.org/primeng/">PrimeNG</a></li>
            <li><a class="text-muted" href="https://nominatim.org/">Nominatim</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/">Bootstrap</a></li>
        </ul>
    </div>
    <div class="item">
        <div class="col-md align-center">
            <h5>Acerca de</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://vicentgn.github.io/portfolio/">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>