* {
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.grid-item {
    margin-bottom: 15px;
}

input {
    width: 100%;
}

#reset {
    float: right;
}

.title {
    margin: 5px 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

li {
    list-style: none;
}

.selection {
    width: 500px;
    height: 50px;
    border: 1px solid black;
}